@import "reset.css";

@font-face {
  font-family: 'Pretendard';
  src: url('./fonts/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaExtra';
  src: url('./fonts/FuturaExtra.ttf');
}

body {
  font-family: 'Pretendard', sans-serif;
  background-color: #1A1A1A;
}